body{
    margin: 0px;
    /* background-color: #F2F2F2; */
}
#headtop{
    width: 100%;
    height: 120px;
    background-color: white;
}
#topt1{
    /* border: 1px solid red; */
    height: 70px;
    width: 350px;
    margin-left: 600px;
    margin-top: 0px;
    display: flex;
}
#topt1 > img{
    height: 70px;
    width: 370px;
    /* border: 1px solid black; */
    margin-top: 0px;
}
#nav{
    display: flex;
    justify-content: space-around;
    font-family: Arial, sans-serif;
    color: #333333;
    /* border: 1px solid black; */
    font-size: 16px;
    margin-top: 13px;
    width: 90%;
    margin-left: 80px;
}
#line{
    height: 5px;
    background-color: #F2F2F2;
}
#nav > span{
    height: 32px;
}
#nav > span:hover{
    border-bottom: 4px solid #015799;
    cursor: pointer;
}
#content{
    display: flex;
}
#leftbox{
    width: 16%;
    height: 800px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding-left: 100px;
    color: grey;
}
#leftbox p{
    margin: 23px 0px 0px 0px;
}
#head{
    font-weight: bold;
    color: black;
}
#leftbox p:hover{
    color: #4D88BD;
    cursor: pointer;
    border-left: 2px solid #4D88BD;
    padding: 5px;
}
#foot1{
    display: flex;
    /* border: 1px solid red; */
    margin-top: 40px;
    border-top: 5px solid #F2F2F2;
}
#form{
    width: 350px;
    height: 300px;
    /* border: 1px solid black; */
    font-size: 14px;
    color: #333333;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    margin-left: 200px;
}
#form p{
    margin-bottom: 0px;
}
#form input{
    height: 25px;
    margin-top: 10px;
}
#submit{
    width: 100px;
    height: 30px;
    background-color: rgb(51, 51, 51);
    color: rgb(246, 246, 246);
    border: 0px;
    font-size: 15px;
}
#submit:hover{
    background-color:rgb(246, 246, 246);
    color: rgb(51, 51, 51);
    transition: 0.3s;
}
#socialMedia{
    display: flex;
}
#form h4{
    margin-bottom: 10px;
}
#fb{
    color: #3561A1;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 20px;
}
#youtube{
    color: #EE3239;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 20px;
}
#logo{
    /* border: 1px solid black; */
    height: 100px;
    margin: 100px 80px 0px 50px;
}
#logo #logoimg{
    width: 500px;
    height: 100px;
}
.p1{
    margin-top: 10px;
}
#contact{
    display: flex;
}
#contact #form{
    height: 200px;
    width: 150px;
    margin: 60px 0px 0px 0px;
}
#foot2{
    background-color: #F2F2F2;
    height: 100px;
    font-size: 14px;
    color: #666666;
    text-align: center;
}
#footdiv{
    padding-top: 20px;
    margin-bottom: 0px;
}
#containerhead{
    height: 40px;
    border: 1px solid black;
    width: 65%;
    margin: auto;
    display: flex;
    font-family: Arial, sans-serif;
    color: #333333;
    font-size: 15px;
    background-color: #F2F2F2;
}
#containerhead>h3{
    margin-top: 10px;
}
#container{
    height: 800px;
    border: 1px solid black;
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 230px;
    grid-gap: 10px;
}
#container>div{
    border-bottom: 1px solid black;
}
.ll1{
    margin-left: 45px;
}
.rr1{
    margin-left: 280px;
}
#productdisplay{
    display: flex;
}
#productdisplay img{
    height: 180px;
    width: 80px;
    margin: 20px 20px 20px 20px;
    border: 1px solid black;
}
#protext{
    margin-left: 0px;
}
#protext h4{
    color: #333333;
    font-size: 16px;
    margin-bottom: 0px;
}
#protext>h4 +p{
    color: #666666;
    font-size: 12px;
    margin: 8px 0px 0px 0px;
}
#redtext{
    color: red;
    font-size: 12px;
    margin: 6px 0px 0px 0px;
}
#heart {
    color: #333333;
    font-size: 16px;
    margin: 50px 0px 0px 0px;
}
#heart:hover {
    color: magenta;
}
.checked{
    color: magenta;
}
#heart+span{
    color: #333333;
    font-size: 14px;
    margin: 50px 0px 0px 0px;
}
