#container {
  /* border: red 1px solid; */
  display: block;
  /* margin-top: 40px; */
  width: 100%;
}
body {
  background-color: white;
  /* for small screen */
  width: 100%;
  margin: 0px;
}
#headtop{
  width: 100%;
  height: 120px;
  background-color: white;
}
#topt1{
  /* border: 1px solid red; */
  height: 70px;
  width: 100%;
  margin-top: 20px;
  display: flex;
}
#topcenter{
  height: 70px;
  width: 25%;
  /* border: 1px solid black; */
  margin-left: 7%;
}
#topcenter img{
  height: 70px;
  width: 100%;
  /* border: 1px solid red; */
  margin-top: 0px;
}
#topleft{
  height: 70px;
  width: 25%;
  margin-left: 12%;
  /* border: 1px solid black; */
}
#nav{
  display: flex;
  justify-content: space-around;
  font-family: Arial, sans-serif;
  color: #333333;
  /* border: 1px solid black; */
  font-size: 16px;
  margin-top: 13px;
  width: 90%;
  margin-left: 80px;
}
#line{
  height: 5px;
  background-color: #F2F2F2;
}
#nav span{
  height: 32px;
}
#nav span:hover{
  border-bottom: 4px solid #015799;
  cursor: pointer;
}
#topleft > input{
  width: 60%;
  height: 30px;
  font-size: 17px;
  margin-top: 18px;
}
#cart{
  font-size: 30px;
  color: #015799;
  margin-top: 0px;
  margin-left: 20px;
}
#cart:hover{
  color: black;
  transition: 0.3ms;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


#shipping {
  /* border: solid 1px red; */
  position: fixed;
  width: 100%;
  height: 40px;
  transition: 0.3s;
  background-color: #f2f2f2;
  /* padding-top: -10px; */
  vertical-align: top;
}
#ship {
  width: 100%;
}
.image1 {
  width: 100%;
  margin-top: 1x;
  /* border: solid red 1px; */
}
#minicontainer {
  /* display: flex; */
  padding: 20px;
}

.bg_red {
  background-color: orangered;
  height: 20px;
  margin-top: -4px;
}

.image2 {
  width: 100%;
}
#container2 {
  width: 85%;
  height: 270px;
  margin: auto;
  /* border: solid 1px red; */
  display: flex;
}
#container2 > div {
  width: 15%;
  height: 200px;
  /* border: 1px solid red; */
  margin: 10px;
  margin: 15px;
}
.image-size {
  width: 100%;
  margin-bottom: -10px;
  border: green 3 px solid;
}
.heading {
  /* margin: auto; */
  text-align: center;
}
#foot1 {
  display: flex;
  /* border: 1px solid red; */
  border-top: 5px solid #f2f2f2;
  padding-left: 8%;
}
#form {
  width: 350px;
  height: 300px;
  /* border: 1px solid black; */
  font-size: 14px;
  color: #333333;
  font-family: Arial, sans-serif;
  margin: 20px;
}
#form p {
  margin-bottom: 0px;
}
#form input {
  height: 25px;
  margin-top: 10px;
}
#submit {
  width: 100px;
  height: 30px;
  background-color: rgb(51, 51, 51);
  color: rgb(246, 246, 246);
  border: 0px;
  font-size: 15px;
}
#submit:hover {
  background-color: rgb(246, 246, 246);
  color: rgb(51, 51, 51);
  transition: 0.3s;
}
#socialMedia {
  display: flex;
}

#form h4 {
  margin-bottom: 10px;
}
#fb {
  color: #3561a1;
  font-size: 25px;
  margin-top: 0px;
  margin-left: 20px;
}
#youtube {
  color: #ee3239;
  font-size: 25px;
  margin-top: 0px;
  margin-left: 20px;
}
#logo {
  /* border: 1px solid black; */
  height: 100px;
  margin: 100px 80px 0px 50px;
}
#logo #logoimg {
  width: 500px;
  height: 100px;
}
.p1 {
  margin-top: 10px;
  text-decoration: none;
  color: gray;
}
#contact {
  display: flex;
}
#contact #form {
  height: 200px;
  width: 150px;
  margin: 60px 0px 0px 0px;
}
#foot2 {
  background-color: #f2f2f2;
  height: 100px;
  font-size: 14px;
  color: #666666;
  text-align: center;
}
#footdiv {
  padding-top: 10px;
  margin-bottom: 0px;
}
