body{
    margin: 0px;
    /* background-color: #F2F2F2; */
}
#headtop{
    width: 100%;
    height: 120px;
    background-color: white;
}
#topt1{
    /* border: 1px solid red; */
    height: 70px;
    width: 350px;
    margin: auto;
    margin-top: 0px;

}
#topt1 > img{
    height: 70px;
    width: 370px;
    /* border: 1px solid black; */
    margin-top: 0px;
}
#nav{
    display: flex;
    justify-content: space-around;
    font-family: Arial, sans-serif;
    color: #333333;
    /* border: 1px solid black; */
    font-size: 16px;
    margin-top: 13px;
    width: 90%;
    margin-left: 80px;
}
#line{
    height: 5px;
    background-color: #F2F2F2;
}
#nav > span{
    height: 32px;
}
#nav > span:hover{
    border-bottom: 4px solid #015799;
    cursor: pointer;
}
#content{
    display: flex;
}
#leftbox{
    width: 16%;
    height: 800px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding-left: 100px;
    color: grey;
}
#leftbox p{
    margin: 23px 0px 0px 0px;
}
#head{
    font-weight: bold;
    color: black;
}
#leftbox p:hover{
    color: #4D88BD;
    cursor: pointer;
    border-left: 2px solid #4D88BD;
    padding: 5px;
}
#foot1{
    display: flex;
    /* border: 1px solid red; */
    margin-top: 40px;
    border-top: 5px solid #F2F2F2;
}
#form{
    width: 20%;
    height: 300px;
    /* border: 1px solid black; */
    font-size: 14px;
    color: #333333;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    margin-left: 8%;
}
#form p{
    margin-bottom: 0px;
}
#form input{
    height: 25px;
    margin-top: 10px;
}
#submit{
    width: 100px;
    height: 30px;
    background-color: rgb(51, 51, 51);
    color: rgb(246, 246, 246);
    border: 0px;
    font-size: 15px;
}
#submit:hover{
    background-color:rgb(246, 246, 246);
    color: rgb(51, 51, 51);
    transition: 0.3s;
}
#socialMedia{
    display: flex;
}
#form h4{
    margin-bottom: 10px;
}
#fb{
    color: #3561A1;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 20px;
}
#youtube{
    color: #EE3239;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 20px;
}
#logo{
    /* border: 1px solid black; */
    height: 100px;
    margin: 100px 80px 0px 50px;
}
#logo #logoimg{
    width: 500px;
    height: 100px;
}
.p1{
    margin-top: 10px;
}
#contact{
    display: flex;
}
#contact #form{
    height: 200px;
    width: 150px;
    margin: 60px 0px 0px 0px;
}
#foot2{
    background-color: #F2F2F2;
    height: 100px;
    font-size: 14px;
    color: #666666;
    text-align: center;
}
#footdiv{
    padding-top: 20px;
    margin-bottom: 0px;
}
#containerhead{
    height: 40px;
    /* border: 1px solid black; */
    width: 65%;
    margin: auto;
    display: flex;
    font-family: Arial, sans-serif;
    color: #333333;
    font-size: 15px;
    background-color: #F2F2F2;
}
#containerhead>h3{
    margin-top: 10px;
}
#container{
    /* border: 1px solid black; */
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 230px;
    grid-gap: 10px;
}
#container>div{
    border-bottom: 1px solid #333333;
}
.ll1{
    margin-left: 45px;
}
.rr1{
    margin-left: 280px;
}
#productdisplay{
    display: flex;
}
#productdisplay img{
    height: 180px;
    width: 8%;
    margin: 20px 20px 20px 20px;
    /* border: 1px solid black; */
}
.protext{
    margin-left: 0px;
    width: 20%;
    color: #333333;
    /* border: 1px solid red; */
}
.protext h4{
    color: #333333;
    font-size: 16px;
    margin-bottom: 0px;
}
.protext>h4 +p{
    color: #666666;
    font-size: 12px;
    margin: 8px 0px 0px 0px;
}
#redtext{
    color: red;
    font-size: 12px;
    margin: 6px 0px 0px 0px;
}
#heart {
    font-size: 16px;
    margin: 50px 0px 0px 0px;
}
#heart:hover {
    color: magenta;
    cursor: pointer;
}
.checked{
    color: magenta;
}
#heart+span{
    color: #333333;
    font-size: 14px;
    margin: 50px 0px 0px 0px;
}
.wrapper {
	width: 100%;
	overflow: hidden;
}
.photobanner {
	position: relative;
	height: 233px;
	margin-bottom: 30px;
	display: flex;
	width: 100%;
}

.photobanner img {
  margin: 0px 80px;
}

.photobanner {
  animation: bannermove 50s linear infinite alternate-reverse;
}

@keyframes bannermove {
  from {
    left: -2000px;
  }
  to {
    left: 0px;
  }
}
#animhead{
    font-family: 'Titillium Web', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}
#rate{
    color: #333333;
    font-size: 17px;
    font-family: 'Titillium Web', sans-serif;
    margin-left: 30px;
    width: 40%;
    /* border: 1px solid red; */
}
.protext+div{
    width: 100px;
    margin-right: 0px;
}
#cal{
    display: flex;
    /* border: 1px solid red; */
    width: 20%;
    height: 200px;
    margin-left:0px;
    height: 20px;
    margin-top: 20px;
}
.box{
    /* border: 1px solid black; */
    width: 35px;
    height: 35px;
    text-align: center;
    margin-left: 1px;
    background-color: #F2F2F2;
}
.box p{
    margin-top: 4px;
    font-size: 17px;
    font-family: 'Titillium Web', sans-serif;
}
#hov:hover{
    color: white;
    background-color: #0c0c0c;
    cursor: pointer;
}
#total{
    margin-left: 170px;
    margin-top: -5px;
    width: 5%;
    /* border: 1px solid red; */
}
#tottext{
    color: #333333;
    font-size: 19px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
}
#del{
    margin-top: 20px;
    margin-left: 80px;
    font-size: 23px;
    width: 20%;
    /* border: 1px solid red; */
}
#del:hover{
    color: red;
    cursor: pointer;
    transition: 00.3ms;
}
#ratediv{
    /* border: 1px solid black; */
    width: 150px;
}
#titofshop{
    /* border: 1px solid red; */
    margin: auto;
    width: 65%;
    font-family: Arial, sans-serif;
    text-align: center;
}
#headll1{
    margin-left: 33%;
}
#ship{
    /* border: 1px solid black; */
    height: 100px;
    width: 65%;
    margin: auto;
    display: flex;
}
#left{
    border-right: 4px solid #F2F2F2;
    width: 50%;
    margin: 20px 0px 20px 0px;
}
#truck { 
    margin: 20px 0px 0px 130px;
    color: #005699;
}
#truck+span{ 
    color: #005699;
    font-family: Arial, sans-serif;
    margin-left: 6px;
}
#right{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
}
#point{
    color: magenta;
    font-size: 25px;
    margin: 30px 10px 0px 120px;
}
#rright{
    /* border: 1px solid black; */
    width: 500px;
    padding-top: 20px;
    margin-left: 0px;
}
#rright p{
    color: #005699;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}
#goto{
    border-bottom: 2px solid #F2F2F2;
    margin: auto;
    height: 100px;
    width: 65%;
}
#purchase{
    width: 180px;
    height: 40px;
    background-color: #343434;
    color: rgb(250, 250, 250);
    font-size: 12px;
    font-family: Arial, sans-serif;
    border: 0px;
    margin: 30px 0px 0px 800px;
}
#purchase:hover{
    background-color:rgb(246, 246, 246);
    color: rgb(51, 51, 51);
    transition: 0.3s;
}
#checkout{
    border-bottom: 1px solid #333333;
    margin-top: 20px;
    margin: auto;
    width: 65%;
    height: 400px;
    display: flex;
    margin-bottom: 30px;
}
#checkout #promo{
    border: 1px solid #333333;
    width: 35%;
    height: 140px;
    margin-top: 30px;
}
#promo h3{
    margin-left: 10px;
    color: #333333;
    font-size: 16px;
}
#promo p{
    margin-left: 10px;
    color: #333333;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
#promo #codebox{
    margin-left: 10px;
    border: 1px solid #333333;
    height: 30px;
}

#promo #secretcode{
    width: 90px;
    height: 30px;
    background-color: #343434;
    color: rgb(250, 250, 250);
    font-size: 12px;
    font-family: Arial, sans-serif;
    border: 0px;
    margin-left: 5px;
}
#promo #secretcode:hover{
    background-color:rgb(246, 246, 246);
    color: rgb(51, 51, 51);
    transition: 0.3s;
}
#overall{
    width: 60%;
    height: 300px;
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 10%;
    background-color: #F2F2F2;
    padding-top: 20px;
}
.over1{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    color: #333333;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
#divider{
    width: 90%;
    height: 3px;
    background-color: rgb(194, 194, 194);
    margin: auto;
    margin-top: 10px;
}
#bigtxt{
    font-size: 20px;
    font-weight: bold;
}
#bigtxt1{
    font-size: 20px;
    font-weight: bold;
}
#paypal{
    width: 250px;
    height: 40px;
    border: 0px;
    background-color: #FFC43A;
}
#pay{
    width: 250px;
    height: 40px;
    background-color: #028628;
    color: white;
}
#payimg{
    width: 85px;
    height: 25px;
    margin-top: 8px;
    margin-left: 80px
}
#paypal:hover{
    background-color: #F2F2F2;
    cursor: pointer;
    transition: 0.3s;
}
#pay span{
    margin-top: 10px;
    padding-left: 0px;
    color: white;
}
#txtout{
    margin-left: 75px;
}
#txtout1{
    margin-left: 5px;
}
#pay:hover{
    background-color: #F2F2F2;
    cursor: pointer;
    transition: 0.3s;
    color: #028628;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
